.addProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 2px solid var(--color-border);
    margin-top: 0.5rem;
    height: 55%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.title {
    text-align: center;
}

.input {
    display: flex;
    align-items: center;
    height: 2.5vh;
    padding: 0.5rem;
    border: 2px solid var(--color-border);
    font-weight: bold;
}

.btn_submit {
    background-color: var(--shoppy-brand);
    border-style: none;
    color: var(--color-white);
    font-size: 1.3rem;
    width: 90%;
    padding: 0.4rem;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}